<app-starships-spinner id="mainLoader" *ngIf="starships.length===0"></app-starships-spinner>
<div class="container w-75 pt-2">
    <div *ngFor="let starship of starships" class="rounded bg-secondary pb-2 ps-3 pt-3 m-4 text-light" >
        <div class="d-flex">
            <section class="col-11">
            <h6 *ngIf="starship.name !== clickedShipName">{{starship.name | uppercase}}</h6>
            <p *ngIf="starship.name !== clickedShipName">{{starship.model}}</p>
            </section>
            <section class="col-1 align-self-top ">
                <button *ngIf="infoOpen === false" (click)="showStarship(starship)" class="btn btn-primary text-light">
                    <i class="fa-solid fa-chevron-down"></i> </button>
                <button *ngIf="infoOpen === true" (click)="hideShipInfo()" class="btn btn-primary text-light">
                    <i class="fa-solid fa-chevron-up"></i> </button>
            </section>
        </div>
        
        <app-starships-starship *ngIf="starship.name === clickedShipName"></app-starships-starship>
    </div>

    <button *ngIf="starships.length!==0" (click)="onScroll()">More</button>
    <app-starships-spinner *ngIf="scrollLoad === true"></app-starships-spinner>
</div>
