<nav>
    <div class="bg-primary border-top border-bottom border-info">
       
            <ul class="d-flex justify-content-center nav p-0">

                <li class="nav-item bg-primary d-flex">
                    <button type="button" class={{homeClass}} routerLink="/home" (click)="changeClass('/home')" > HOME</button>
                </li>
                <li class="nav-item bg-primary d-flex">
                    <button type="button" class={{starshipClass}} routerLink="/starships" (click)="changeClass('/starships')"> STARSHIPS </button>
                </li>
                
            </ul>
    </div>
    
</nav>