/* You can add global styles to this file, and also import other style files */

$primary: #0A0B0B;
$secondary: #151515;
$light: #B3B3B3;
$info: #4C4C4C;
$border-width: 1px;
$font-family-base: 'Fira Code', monospace;



@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
